/*-------------------*/
/*  Navbar Section */
/*-------------------*/

.navbar {
  margin: 0;
  padding-top: 15px;
  background-color: var(--MainColor);
  backdrop-filter: blur(2px);
  width: 100%;
}

.navbar > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-bottom: 10px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_links li a {
  margin: 0 10px 10px;
  font-size: 16px;
  font-weight: lighter;
  text-decoration: none;
  color: #fff;
}

.nav_container,
.action_controls,
.nav-icon {
  color: #fff;
}

.nav_container .logo {
  color: #3f7de1;
  margin-right: 50px;
  font-size: 27px;
  transform: translate(0, -4px);
}

.nav_icon {
  margin: 0 12px 0 12px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.nav_icon:hover {
  color: #7ca9f1;
  cursor: pointer;
  transition: 0.3s;
}

.action_controls .control_search_icon.nav_icon:hover .search_component {
  display: block;
}

.action_controls .control_Account.nav_icon:hover .Account_menue {
  display: block;
}
/*.control_item:hover .shopping_cart {*/
/* Chow cart and the Items in it*/
/*}*/

.menu_links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 16px;
}
.menu_links li {
  border-bottom: 1px solid var(--dark_grey);
  width: 100% !important;
  display: block;
  padding: 0 0 12px 0;
}
.nav_links {
  padding: 0 !important;
}
@media (max-width: 768px) {
  .nav_links {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .Bars_icon {
    display: none !important;
  }
}

/* ------------- */
/* ---accordion---- */
