.Account_menue {
  position: absolute;
  background:#fff;
  right: 0;
  top: 100%;
  font-size: 14px;
  width: 250px;
}

.Account_menue .item{
  display: flex;
    align-items: center;
    padding: 0 20px !important;
    height: 50px;
  transition:.5s;
}

.Account_menue .item:hover{
  background: #eee;
}
.Account_menue .item a:hover{
  background: transparent !important;
}

.Account_menue .item:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
.Account_menue .item a {
  color: var(--dark_grey);
  font-weight: 100;
}


.Account_menue .item > svg {
  margin-right: 10px;
  color: var(--grey);
}
